<script src="/resources/javascripts/jquery-1.7.1.min.js">
</script>
<script>
	my_json = $.getJSON("http://122.97.248.252:28017/test/test/?limit=-5");
	window.alert((typeof(my_json));
</script>
<form action=''>
	<input type='text' id="markson" onkeyup="showHint(this.value)" />
</form>
<p id="textHint"></p>
