<!DOCTYPE html>
<html>
	<head>
		<title>This is the Markon term database</title>
		<meta charset="utf-8">
		<link href="/stylesheets/main.css" rel="stylesheet"/ >
		<script src="/javascripts/jquery-1.7.1.min.js"></script>
		<script src="/javascripts/jquery-ui-1.8.17.custom.min.js"></script>
	</head>
	<body>
		<header>
	<nav class="outter-nav">
		<a href="/" class="brand">
			<img src="/images/logo-trans-upper.png" height="30"/>
		</a>
		<ul role="navigation" class>
			<li>
			<a href="/search" >查询术语</a>
			</li>
			<li>
			<a href="/create">提交术语</a>
			</li>
		</ul>
	</nav>
	</header>

		<%= yield %>
		<footer>
		<p>Made by Markon</p>
		</footer>

	</body>
</html>
