<div role="main">
	<script src="/javascripts/search.js">
</script>
<div id="content">
<form action=''>
	<label for="tags">查询术语:</label>
	<div>
		<input id="tags" onkeyup="showHint()">
		<ul id="suggestion_box" style="display:none;">
	</ul>
</div>
</form>
</div>

