body {
	margin: 0;
	padding: 0;
   background:url('/images/header-bg.jpg'); 
}
form {
	font-size: 32px;
  /*text-align: center;*/
}
div#content {
	background-color: white;
	width: 720px;
	margin:50px auto;
	padding: 20px 40px;
}

div#content p {
	background: #CCffCC;
	border: 1px solid #eef;
	text-indent: 15px;
	padding: 5px 12px;
}
form input {
	font-size: 32px;
  text-align: left;
  color: black; }
	header {
		# background-color: #4fa6e7;
    #height: 485px;
	}
form label {
}
form div {
	display: inline-block;
}
form ul {
	position: absolute;
	background-color: white;
	width: 331px;
	border: 1px solid gray;
	margin: 0 2px;
	padding: 0;
}

form ul li {
	list-style-type: none;
}

h1 {
	border-bottom: 1px dotted #d5d5d5;
}
h2 {
	border-bottom:1px dotted #aaa;
}

h3 {
	padding-left:20px;
	background: url('/images/bullin.jpg') no-repeat;
	background-position-y: 5px;
}

.outter-nav {
	position: relative;
	top:18px;
	width:800px;
	margin:0 auto;
	height:44px;
	background-color: #cdcdcd;
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.9) inset, 1px 0 0 rgba(0, 0, 0, 0.26) inset, -1px 0 0 rgba(0, 0, 0, 0.26) inset, 0 -1px 0 rgba(0, 0, 0, 0.3) inset;
  border-radius: 3px;
}
.outter-nav .brand {
	margin: 7px 55px 0 20px;
	display: block;
	float: left;
}
.outter-nav ul {
	display: block;
	float: left;
	margin: 0;
}

.outter-nav ul li {
	display: block;
	float: left;
	background: transparent url(/images/outter-nav-sep.png) no-repeat scroll top left;
}

.outter-nav ul li a{
	display: block;
	float:left;
	padding: 15px 25px;
	height: 44px;
	text-align: center;
	font-size: 14px;
	color: #626262;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4)a
	line-height: 44px;
}

#toc {
	background-color: white;
	padding: 20px;
	border: 1px solid #ddd;
	float:right;
	-webkit-box-shadow: -2px 2px 6px #bbb;
	-moz-box-shadow: -2px 2px 6px #bbb;
}

footer {
	width: 720px;
	text-align: center;
	background-color: white;
	margin: 10px auto;
	padding: 5px 40px;
	background-color: #cdcdcd;
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.9) inset, 1px 0 0 rgba(0, 0, 0, 0.26) inset, -1px 0 0 rgba(0, 0, 0, 0.26) inset, 0 -1px 0 rgba(0, 0, 0, 0.3) inset;
  border-radius: 3px;
}

