form {
	margin-top: 50px;
	width: 250px;
	height: 250px;
	text-align: center;
}

form input {
	font: 50px/5px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	color: black;
}
